:root{
    --purple: #9254ef;
    ----blue: #46bf25;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background-color: #efefef;
}
button{
    background-color: var(--leafygreen);
    padding: 5px;
    border-style: solid;
    border-color: transparent;
}
button:active{
    border-color: #297062;
}
header{
    box-sizing: content-box;
    display: flexbox;
}
a{
    color: black;
}

/* navigation */
.navbar a .brand{
    text-decoration: none;
}
.navbar .brand em{
    color: var(--leafygreen);
}
nav{
    margin-bottom: 20px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* for responsive navbar */
    display: flex;
}
/* horizontal on desktop */
.nav-desktop{
    flex-direction: row;
}
nav ul a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
    color: black;
}
nav ul a:hover{
    background-color: var(--leafygreenlight);
}
.drop-content{
    display: none;
}
.nav-mobile{
    display: none;
}
.nav-mobile li a{
    background-color: #ddd;
}
.nav-mobile{
    display: none;
}
.dropdown{
    display: block;
    position: relative;
    background-color: #dddddd;
}
.drop-content{
    display: none;
    position: absolute;
}
.dropdown:hover .drop-content{
    display: block;
}
@media screen and (max-width: 700px){
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: block;
        cursor: pointer;
    }
    .nav-mobile .menu{
        flex-direction: column;
        display: none;
    }
    .nav-mobile .menu a:hover{
        background-color: var(--leafygreenlight);
    }
}

/* header section */
.heading{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.heading img{
    width: 45%;
}
header h1{
   font-size: 50px;
}
header h1 em{
    color: var(--leafygreen);
}

/* sections */
section{
    background-color: var(--leafygreenlight);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
.about{
    display: grid;

}
.skills{
    display: grid;
}
/* .projects .grid-container{
    display: grid;
    grid-auto-flow: row;
}
.projects .grid-container .items{
    width: 10%;
    overflow: hidden;
}
.projects .grid-container .item img{
    width: 90%;
}
.projects .grid-container .item{
    height: 500px;
    overflow-y: auto;
} */
/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    background-color: var(--leafygreenmedium);
}
footer .col{
    margin: 10px;
}
footer .col:last-child ul{
    display: flex;
    /* justify-content: space-between; */
}
footer .col:last-child ul li{
    margin-right: 10px;
}
footer ul{
    list-style-type: none;
}
footer ul a{
    text-decoration: none;
    color: black;
}
footer ul a:hover{
    text-decoration: underline;
    color: black;
}
/* utilities */
.text-center{
    text-align: center;
    align-items: center;
}
.btn{
    background-color: var(--leafygreenmedium);
    padding: 10px;
    border-radius: 10px;
}
.col{
    width: 30%;
}
.card{
    background-color: var(--leafygreen);
}
/* to show user which page he/she is on */
.active{
    background-color: var(--leafygreen) !important;
}
.active:hover{
    background-color: var(--leafygreen) !important;
}
@media screen and (max-width: 700px) {
    .col{
        width: 90%;
    }
}
/* whatsapp button */
.whatsapp-btn{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--leafygreen);
}
